* {
	outline 0 !important
}

html {
	font-family system-ui
	font-size 15px
}

body {
	background url('../img/svg/body-bg.svg') $bodybg
	background-position right bottom
	background-size 100%
	background-repeat no-repeat
	min-width 100vw
	min-height 100vh
}

.p-relative {
	position relative
}

.z-top {
	position relative
	z-index 10
}

.text-underline {
	text-decoration underline
}

.page-content {
	// overflow hidden
}

.mx-auto {
	margin-left auto
	margin-right auto
}

.home {
	dflex(row,center,center)
	width 100vw
	min-height 100vh
}

.px-2 {
	padding-left 40px
	padding-right 40px
}


.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
	background $primary
}

.vdp-datepicker__calendar .cell.selected {
	background $primarydark
}
