.box {
	width 100%
	box-shadow 6px 6px 15px rgba($black, .1)
	border-radius 2px
	
	&--sm {
		max-width 570px
		
		@media screen and (max-width 610px) {
			max-width calc(100% - 40px)
			box-shadow 3px 3px 15px rgba($black, .1)
		}

	}
	
	&__top {
		dflex(row,center,flex-start)
		padding 11px 15px
		font-weight 500
		border-radius 2px 2px 0 0
		
		img {
			margin-right 15px
		}

		&--primary {
			background $primarydark
			color $white
			text-transform uppercase
			font-size 17px
			line-height 1.17
		}

	}
	
	&__content {
		padding 25px
		background $white
		border-radius 0 0 2px 2px
	}
	
	&__row {
		dflex(row,center,center)

		@media screen and (max-width 610px) {
			dflex(column,center,flex-start)
			
		}
		
		&:last-of-type {
			margin-bottom 15px
		}
		
		&__half {
			flex 1
			
			@media screen and (max-width 610px) {
				width 100%
			}
			
			&:nth-of-type(odd) {
				
				@media screen and (min-width 611px) {
					padding-right 10px
				}

			}

			&:nth-of-type(even) {
				
				@media screen and (min-width 611px) {
					padding-left 10px
				}

			}

		}

	}

}