.flight {
	width 100%
	max-width 733px
	box-shadow 6px 6px 15px rgba($black, .1)
	border-radius 2px
	background $white
	overflow hidden
	margin-bottom 40px
	
	@media screen and (max-width 1040px) {
		max-width 100%
	}
	
	&__top {
		dflex(row,center,flex-start)
		padding 16px 20px
		background $light
		font-weight 500
		fluid-type(15px,18px)
		line-height 1.16
		text-transform uppercase
		color $lighttextcolor
		
		@media screen and (max-width 576px) {
			dflex(column,flex-start,flex-start)
		}
		
		div {
			color $primarydark
			text-transform none
			fluid-type(18px,22px)
			line-height 1.18
			dflex(row,center,flex-start)
			margin-left 47px			

			img {
				margin 0 25px
				
				@media screen and (max-width 576px) {
					margin 0 15px
				}
				
			}
			
			@media screen and (max-width 576px) {
				margin-left 0
			}

		}

	}
	
	&__date {
		dflex(row,center,space-between)
		padding 18px 5px
		font-weight 500
		font-size 13px
		line-height 1.1
		text-transform uppercase
		color $lighttextcolor
		
		div {
			dflex(row,center,center)			
			
			img {
				margin 0 10px
				cursor pointer
			}

			&:nth-of-type(2) {
				color $textcolor
				text-transform none
				font-size 18px
				line-height 1.16
				font-weight normal
			}

		}

	}
	
	&__content {
		
		@media screen and (max-width 576px) {
			overflow-x scroll
		}

		&--single {
  			padding: 40px 40px 10px;
	
			.input-container {
	  			width: 50%;
	  			margin-left: auto;
	  			margin-right: 15px;
			}
			
		}
		
		&--form-row {
  			display: flex;
  			flex-direction: row;
  			justify-content: center;
  			align-items: flex-start;
			
			.btn {
	  			max-width: 116px;
	  			margin-right: auto;
			}		

		}

	}
	
	&__row {
		dflex(row,center,center)
		border-top 1px solid $flightborder
		
		div {
			flex 1.365
			padding 24px 17px
			
			@media screen and (max-width 576px) {
				padding 18px 12px
				min-width 135px
			}
			
			&:first-of-type {
				flex 1
				color $textcolor
				font-size 15px
				font-weight 300
				line-height 1.2
				
				img {
					margin 0 8px
				}

			}

			&:nth-of-type(3n + 3) {
				background $light
			}
			
		}
		
		&:nth-of-type(2) {
			border none
			
			div {
				padding-top 0
			}

		}

		&--header {
			font-size 10px
			line-height 1.2
			text-transform uppercase
			color $black
			font-weight 700

			div {
				padding-top 6px
				padding-bottom 6px
				text-align center
			}

		}

	}
	
	// SIDEBAR
	//
		
	&__sum {
		background $white
		border-top 1px solid $sidebartop
		margin-bottom 20px
		overflow hidden
			
		&__top {
			padding 15px			
			color $primarydark
			font-size 14px
			font-weight 700
			line-height 1.14
			text-transform uppercase
			dflex(row,center,space-between)
			padding 15px
		}

		&__info {
			padding 3px 30px 20px 15px
			font-size 16px
			color $lighttextcolor
			font-weight 700
			line-height 1.25
			font-family 'Source Sans Pro', sans-serif
		}

		&__ticket {
			padding 15px 15px 15px 15px
			font-size 14px
			color $textcolor
			font-weight 700
			line-height 1
			dflex(row,center,flex-start)
			
			&:last-of-type {
				position relative
				
				&:before {
					content url(../img/svg/ticket-separator.svg)
					position absolute
					top -5px
					left 0
					width 100%
					
					@media screen and (max-width 1040px) {
						content none
					}

				}
				
				@media screen and (max-width 1040px) {
					border-top 1px dashed $sidebartop
				}

			}
			
			div {

				&:first-of-type {
					text-transform uppercase
					border 2px solid $dateborder
					box-sizing border-box
					border-radius 3px		
					text-align center
					padding-bottom 3px
					font-size 18px
					margin-right 14px
				
					span {
						background $light
						padding 3px 4px
						display block
						margin-bottom 3px
						font-size 13px
					}

				}
				
			}
			
			small {
				font-size 10px
				line-height 1.2
				display block
				margin-top 0.25rem
			}

		}

		&__total {
			background $primarydark
			color $white
			font-size 16px
			font-weight 400
			line-height 1.25
			font-family 'Source Sans Pro', sans-serif
			text-transform uppercase
			dflex(row,center,space-between)
			padding 15px
			
			span {
				font-weight 700
			}

		}

	}

}