.modal {
	position relative
	background $white
	width 100%
	max-width 488px
	border-radius 3px
	overflow hidden
	
	@media screen and (max-width 576px) {
		max-width calc(100% - 40px)
	}
	
	&__header {
		padding 15px
		text-align center
		font-size 16px
		font-weight 300
		line-height 1.1875
		color $primarydark
		text-transform uppercase
		background $bodybg
	}
	
	&__body {
		dflex(row,center,center)
		padding 12px 17px
		
		@media screen and (max-width 576px) {
			dflex(column,center,center)
		}
		
		.flight__sum__ticket {

			&:before {
				content none
			}

		}

	}
	
	&__footer {
		padding 25px 30px
		dflex(row,center,space-between)
		
		div {
			font-size 20px
			font-weight 500
			
			span {
				color $primarydark
				font-weight 700
			}
			
			small {
				color $secondary
				font-size 12px
				line-height 1.4
				text-decoration underline
				cursor pointer
			}

		}

	}

	&__backdrop {
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba($black,.8)
		z-index 10
		dflex(row,center,center)
	}

}