.select {

	&__info {
		grid-column-start 1
		grid-column-end 5
		grid-row-start 1
		grid-row-end 2
		background $primarydark
		dflex(row,center,flex-start)
		padding-left 20px
		padding-right 20px
		color $white
		height 60px
		
		@media screen and (max-width 1040px) {
			width calc(100% + 40px)
			margin-left -20px
			order 1
		}

		div {

			&:first-of-type {
				margin-left 126px
			}

		}
		
		small {
			font-size 10px
			line-height 1.2
			line-weight 400
			text-transform uppercase
		}
		
		h3 {
			font-size 20px
			line-height 1.2
			line-weight 400
		}

	}
	
	&__headline {
		grid-column-start 3
		grid-column-end 5
		grid-row-start 2
		grid-row-end 3
		dflex(row,center,flex-start)
		height 130px
		
		@media screen and (max-width 1040px) {
			order 2
		}
		
		img {
			margin-right 25px
		}
		
		h2 {
			color $primarytextcolor
			fluid-type(30px,40px)
			font-weight 300
			text-transform uppercase
		}

	}
	
	&__sidebar {
		grid-column-start 2
		grid-column-end 3
		grid-row-start 3
		grid-row-end 4
		
		@media screen and (max-width 1040px) {
			order 4
			width 100%
			margin-bottom 40px
		}
	}
	
	&__main {
		grid-column-start 3
		grid-column-end 4
		grid-row-start 3
		grid-row-end 4
		
		@media screen and (max-width 1040px) {
			order 3
			width 100%
		}
		
	}

}

.grid {
	display grid
	grid-template-columns auto 230px 733px auto
	grid-template-rows auto auto auto
	column-gap 20px
	
	@media screen and (max-width 1040px) {
		dflex(column,flex-start,flex-start)
		padding-left 20px
		padding-right 20px
	}

}